<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <div class="container">
    <a href="{% url 'polls:index' %}" class="navbar-brand">Polls</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mobile-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/" class="nav-link text-light">home</a>
        </li>

        <li class="nav-item">
          <a href="{% url 'polls:user_list' %}" class="nav-link text-light">users</a>
        </li>

        {% if user.is_staff %}
        <li class="nav-item">
          <a href="{% url 'admin:index' %}" class="nav-link text-light">admin</a>
        </li>
        {% endif %}

        <li class="nav-item">
          {% if user.is_authenticated %}
          <b><a href="{% url 'logout' %}" class="nav-link text-light">logout</a></b>
          {% else %}
          <b><a href="{% url 'login' %}" class="nav-link text-light">login</a></b>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
