{% extends 'polls/base.html' %}

{% block body %}

<div class="row">
  <div class="col-md-6">
    <h1 class="mt-2">{{ question.question_text }}</h1>
    <hr class="mt-0 mb-4">

    {% if error_message %}
    <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
      {% csrf_token %}
      {% for choice in question.choice_set.all %}
      <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
      <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
      <br>
      {% endfor %}
      <input type="submit" value="Vote" role="button" class="btn btn-success my-2">
    </form>

    <a href="{% url 'polls:add_comment' question.id %}">Add comment</a>
  </div>
</div>

<div class="row">
  <div class="col-6">
    {% for comment in question.comment_set.all %}
    <hr>
    <p>{{ comment.created_date}} by <i>{{ comment.author }}</i></p>
    <p>{{ comment.text|linebreaks }}</p>
    {% empty %}
    <hr>
    <p>No comments here yet :(</p>
    {% endfor %}
  </div>
</div>

{% endblock body %}
